<div class="col-md-2 mt-3 bg-success d-md-block sidebar">
    <div class="left-sidebar">
        <ul class="nav flex-column sidebar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/can">
                Candidates
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/jobs">
                Jobs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order">
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/report">
                Reports
              </a>
            </li>
          </ul>
    </div>
</div>    