<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
    <%-include('layout')%>
</head>
<body>
    
    <%-include('header')%>
    <div class="conatiner  text-center jumbotron">
        <h1 class="text-center">Welcome To The Home Page</h1>
        <img class = 'img-fluid' src="/images/287677588_561545558716720_962843881644276446_n.jpg" alt="">
        
    </div>
</body>
</html>