<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
    <%-include('layout')%>
</head>
<body>
    <header>
    </header>
            <form action="/addData" method="post">
                <div class="jumbotron container">
                    <h1 class="text-center">Please Insert Your Data</h1>
                        <div class="container">
                            <label for="label">Name</label>
                            <input class="form-control" type="text" name="name">
                        </div>
                    <br>
                        <div class="container">
                            <label for="pass">License Code</label>
                            <input class="form-control" type="text" name="lname" id="pass">
                        </div>
                    <br>
                    <div class="container">
                        <label for="pass">Car Description</label>
                        <input class="form-control" type="text" name="email" id="pass">
                    </div>
                <br>
            <br>
                        <input class="btn float-right btn-primary text-center justify-content" type="submit" value="Submit"></input>
                 </div>
            </form>

    <footer>
        <%- include('footer'); %>
      </footer>
</body>
</html>